DB_URL=jdbc:postgresql://localhost:5432/jobtracker_db
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_ACCESS_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile